html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
html{
    font-size:16px;
    font-size:64.5%;
}
body{
    background-color:rgb(220, 224, 233);
}
header, main, footer{
    font-size:2rem;
    font-family:Arial, Helvetica, sans-serif;
}
header, footer{
    text-align:center;
}
header h1{
    font-size:6rem;
    padding:1%;
    margin: auto;
}
header img{
    display:block;
    max-width: 100%;
    max-height: 100%;
    margin:auto;
}
nav {
    background-color:black;
    width: 100%;
}
nav li{
    display:inline-block;
    /* allows anchor text to determine width. Why? */
    padding:1% 1%;
}
nav li:hover{
    background-color:#ddd;
    transition-duration: 0.5s;
}
nav a{
    font-size:3rem;
    text-decoration: none;
    color:white;
}
nav li:hover a{
    color:black;
}
/* , section.history, section.fire, section.arrival */
section.welcome, section.history, section.fire, section.arrival{
    display:flex;
    justify-content: space-evenly;
}
section .left-box, section .right-box{
    padding:5%;
    width:50%;
    margin:auto;
}
section img{
    max-height: 100%;
    max-width: 100%;
}